<div class="navbar-fixed z-depth-1">
	<nav>
		<div class="nav-wrapper">
			{{#link-to 'index'}}<a class="brand-logo center">Ask!</a>{{/link-to}}
		</div>
	</nav>
</div>
<body>
	<div class="container">
		<br>
		<div class = "row">
			{{outlet}}
		</div>
	</div>
</body>

<footer class="page-footer">
		<div class="container">
			<a class="grey-text text-lighten-4" href="#">Back to top</a>
			<a class="grey-text text-lighten-4 right">An experiment by Arvind</a>
		</div>
</footer>